@page
@model MarsPlanetW.Pages.IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mars Weather</title>
    <style>
        body {
            background: url('/images/BF75C159-5472-46EF-ADE5-CE37A3585349.jpeg') no-repeat center center fixed;
            background-size: cover;
            color: white;
            font-family: Open Sans;
            text-align: center;
            padding-top: 20%;
        }
    </style>
</head>
<body>
    <div class="weather-container">
        <h1>Latest Weather Data on Mars</h1>
        <h3>Date: @Model.TerrestrialDate</h3>
        <p>Temperature: Min @Model.MinTemp°F, Max @Model.MaxTemp°F</p>
    </div>
</body>
</html>